@import (reference) '../../../styling-variabler.less';

.utloggingsvarsel,
.utloggingsvarsel--open {
    &__modal {
        min-width: 20rem;
        max-width: 39rem;
        section {
            height: 100%;
        }
    }

    &__container {
        width: calc(100% - 0rem);
        height: 100%;
        padding: 0 0.5rem 1.5rem 0.5rem;

        .nav-veilederpanel.nav-veilederpanel--advarsel {
            padding: 0.25rem 1rem;
        }
        .nav-veileder.nav-veileder--flytende {
            position: unset;
        }
        .nav-veilederpanel__content {
            padding-left: 1rem;
            & > .typo-element {
                font-weight: 600;
            }
        }
    }
    &__heading {
        display: flex;
        align-items: center;
    }

    &__valg {
        display: flex;
        margin: 2.5rem 0 1.25rem 0;
        flex-direction: column;
        &:nth-child(0) {
            margin-right: 0.5rem;
        }
    }

    &__navigasjon {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1.25rem;
        height: 2.25rem;
        button.utloggingsvarsel__minimere {
            margin-right: 0.125rem;
        }
    }

    &__navigasjon,
    &__expanderbart-nav {
        & > button {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0.5rem;
            border-radius: 13px;
            margin: 0;
            border: none;
            &:hover {
                svg {
                    transform: scale(1.2);
                    transition: 0.1s;
                    cursor: pointer;
                }
            }
        }
    }

    @media @screen-desktop {
        &__modal {
            min-width: 35rem;
        }

        &__valg {
            flex-direction: row;
            & > button.knapp.knapp--hoved {
                margin-right: 1.5rem;
            }
        }
    }
}
